<section class="separator-section"></section>

        <section class="info-section">
            <div class="auto-container">
                <div class="inner-section">
                    <div class="row clearfix">
                    
                        <!--Info Block-->
                        <div class="info-block col-md-4 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="content">
                                    <div class="icon-box"><span class="icon flaticon-maps-and-flags"></span></div>
                                    <div class="title">Adresse : Abidjan, Plateau - Cité administrative,</div>
                                    <h2>12e Étage, Tour A</h2>
                                </div>
                            </div>
                        </div>
        
                        <!--Info Block-->
                        <div class="info-block col-md-4 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="content">
                                    <div class="icon-box"><span class="icon flaticon-phone-call"></span></div>
                                    <div class="title">Téléphone Fixe :</div>
                                   
                                    <h2>+225 27 20 23 92 80</h2>
                                </div>
                            </div>
                        </div>
        
                        
        
        
        
                        <!--Info Block-->
                        <div class="info-block col-md-4 col-sm-12 col-xs-12">
                            <div class="inner">
                                <div class="content">
                                    <div class="icon-box"><span class="icon flaticon-chronometer-outline"></span></div>
                                    <div class="title">Horaires :</div>
                                    <div class="title">Lundi - Vendredi:</div>
                                    <h2>07H30 - 16H30</h2>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <!--End Info Section-->
        
        <footer class="main-footer">
        
            <!--Footer Bottom-->
            <div class="footer-bottom usefull-link-section ">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="column col-md-2 col-sm-12">
                            <a class="usefull-link" href="https://www.gouv.ci" target="_blank">site du gouvernement</a>
                        </div>
                        <div class="column col-md-2 col-sm-12">
                            <a class="usefull-link" href="https://www.presidence.ci" target="_blank">Portail Données Ouvertes</a>
                        </div>
                        <div class="column col-md-2 col-sm-12">
                            <a class="usefull-link" href="https://www.annuaire.ci" target="_blank">Annuaire du gouvernement</a>
                        </div>
        
                        <div class="column col-md-2 col-sm-12">
                            <a class="usefull-link" href="https://www.servicepublic.gouv.ci" target="_blank">Service Public</a>
                        </div>
                        <div class="column col-md-3 col-sm-12">
                            <a class="usefull-link" href="https://www.directiongénéraleemploi.ci" target="_blank">Direction Générale de l'Emploi</a>
                        </div>
                        <div class="column col-md-1 col-sm-12">
                            <a class="usefull-link" href="https://www.infs-ci.org" target="_blank">INFS</a>
                        </div>
        
                    </div>
                </div>
            </div>
        
            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="column col-md-1 col-sm-1 col-xs-12">
                        </div>
                        <div class="column col-md-10 col-sm-10 col-xs-12">
                            <div class="copyright"><center>Copyright &copy; {% now 'Y' %} | MEPS &middot; Tous Droits Réservés. Devéloppé par la DSI du MEPS</center></div>
                        </div>

                        <div class="column col-md-1 col-sm-1 col-xs-12">
                            <!--
                                <ul class="footer-nav">
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Legal</a></li>
                                    <li><a href="#">Sitemap</a></li>
                                </ul>
                            -->
                            </div>
                    </div>
                </div>
            </div>
        
        </footer>
        
        <!--Scroll to top-->
        <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-up"></span></div>
    </div>

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-up"></span></div>