{% extends 'home/base.html' %}
    
{% load static %}
    
{% block content %}

    <!--Main Slider-->
    <div class="row equal-cols" style="margin-right:5wh;">
        <div class="col-lg-9 col-md-8 col-sm-8" >

            <section class="main-slider">

                <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
                    <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1" style="height: 100%!important; max-height: 100%; margin-top: 0px; margin-bottom: 0px;">
                        <ul>

                            <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="{% static 'images/main-slider/image-1-a.jpg' %}" data-title="Slide Title" data-transition="parallaxvertical">
                                <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="left center" data-bgrepeat="no-repeat" data-no-retina="" src="{% static 'home/images/main-slider/image-1-c.jpg' %}">

                                <div class="tp-caption"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingtop="[0,0,0,0]"
                                data-responsive_offset="on"
                                data-type="text"
                                data-height="none"
                                data-width="['600','600','400','290']"
                                data-whitespace="normal"
                                data-hoffset="['15','15','15','15']"
                                data-voffset="['-140','-120','-100','-110']"
                                data-x="['right','right','right','right']"
                                data-y="['middle','middle','middle','middle']"
                                data-textalign="['top','top','top','top']"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                style="z-index: 7; white-space: nowrap;text-transform:left;">
                                    <h2>Direction Générale <br> de l'Emploi</h2>
                                </div>

                                <div class="tp-caption"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingtop="[0,0,0,0]"
                                data-responsive_offset="on"
                                data-type="text"
                                data-height="none"
                                data-whitespace="normal"
                                data-width="['600','600','400','290']"
                                data-hoffset="['15','15','15','15']"
                                data-voffset="['-10','0','10','-30']"
                                data-x="['right','right','right','right']"
                                data-y="['middle','middle','middle','middle']"
                                data-textalign="['top','top','top','top']"
                                data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                style="z-index: 7; white-space: nowrap;text-transform:left;">
                                    <div class="text">Contrôler et évaluer la politique nationale en matière d'emploi.</div>
                                </div>

                                <div class="tp-caption tp-resizeme"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingtop="[0,0,0,0]"
                                data-responsive_offset="on"
                                data-type="text"
                                data-height="none"
                                data-width="['600','600','400','290']"
                                data-whitespace="normal"
                                data-hoffset="['15','15','15','15']"
                                data-voffset="['90','90','120','80']"
                                data-x="['right','right','right','right']"
                                data-y="['middle','middle','middle','middle']"
                                data-textalign="['top','top','top','top']"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                style="z-index: 7; white-space: nowrap;text-transform:left;">
                                    <a href="http://meps.projectperforming.com/accueil-dge" class="theme-btn btn-style-one">Lire plus</a>&ensp; &nbsp;<!--<a href="" class="theme-btn btn-style-two">Contactez-nous</a>-->
                                </div>

                            </li>

                            <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-1-b.jpg' %}" data-title="Slide Title" data-transition="parallaxvertical">
                                <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{% static 'home/images/main-slider/image-1-b.jpg' %}">

                                <div class="tp-caption"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingtop="[0,0,0,0]"
                                data-responsive_offset="on"
                                data-type="text"
                                data-height="none"
                                data-width="['700','700','500','290']"
                                data-whitespace="normal"
                                data-hoffset="['15','15','15','15']"
                                data-voffset="['-140','-120','-100','-110']"
                                data-x="['center','center','center','center']"
                                data-y="['middle','middle','middle','middle']"
                                data-textalign="['top','top','top','top']"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                style="z-index: 7; white-space: nowrap;text-transform:left;">
                                    <div><h2>Direction Générale <br>du Travail</h2></div>
                                </div>

                                <div class="tp-caption"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingtop="[0,0,0,0]"
                                data-responsive_offset="on"
                                data-type="text"
                                data-height="none"
                                data-whitespace="normal"
                                data-width="['550','550','400','290']"
                                data-hoffset="['15','15','15','15']"
                                data-voffset="['0','0','10','-30']"
                                data-x="['center','center','center','center']"
                                data-y="['middle','middle','middle','middle']"
                                data-textalign="['top','top','top','top']"
                                data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                style="z-index: 7; white-space: nowrap;text-transform:left;">
                                    <div class="text "> Élaborer et évaluer la politique générale dans le domaine du travail.</div>
                                </div>

                                <div class="tp-caption tp-resizeme"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingtop="[0,0,0,0]"
                                data-responsive_offset="on"
                                data-type="text"
                                data-height="none"
                                data-width="['600','600','400','290']"
                                data-whitespace="normal"
                                data-hoffset="['15','15','15','15']"
                                data-voffset="['100','90','120','80']"
                                data-x="['center','center','center','center']"
                                data-y="['middle','middle','middle','middle']"
                                data-textalign="['top','top','top','top']"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                style="z-index: 7; white-space: nowrap;text-transform:left;">
                                    <div class=""><a href="http://meps.projectperforming.com/accueil-dgt" class="theme-btn btn-style-one">Lire plus</a>&ensp; &nbsp;<!--<a href="" class="theme-btn btn-style-two">Contactez-nous</a>--></div>
                                </div>

                            </li>

                            <li class="slider-item" data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-1-c.jpg' %}" data-title="Slide Title" data-transition="parallaxvertical">
                                <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{% static 'home/images/main-slider/image-1-a.jpg' %}">

                                <div class="tp-caption"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingtop="[0,0,0,0]"
                                data-responsive_offset="on"
                                data-type="text"
                                data-height="none"
                                data-width="['550','550','400','290']"
                                data-whitespace="normal"
                                data-hoffset="['15','15','15','15']"
                                data-voffset="['-140','-120','-100','-110']"
                                data-x="['right','right','right','right']"
                                data-y="['middle','middle','middle','middle']"
                                data-textalign="['top','top','top','top']"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                style="z-index: 7; white-space: nowrap;text-transform:left;">
                                <div><h2>Direction Générale <br>de la Protection Sociale</h2></div>
                                </div>

                                <div class="tp-caption"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingtop="[0,0,0,0]"
                                data-responsive_offset="on"
                                data-type="text"
                                data-height="none"
                                data-whitespace="normal"
                                data-width="['550','550','400','290']"
                                data-hoffset="['15','15','15','15']"
                                data-voffset="['0','0','10','-30']"
                                data-x="['right','right','right','right']"
                                data-y="['middle','middle','middle','middle']"
                                data-textalign="['top','top','top','top']"
                                data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                style="z-index: 7; white-space: nowrap;text-transform:left;">
                                    <div class="text color-white">Concevoir et superviser la politique nationale de protection sociale.</div>
                                </div>

                                <div class="tp-caption tp-resizeme"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingtop="[0,0,0,0]"
                                data-responsive_offset="on"
                                data-type="text"
                                data-height="none"
                                data-width="['550','550','400','290']"
                                data-whitespace="normal"
                                data-hoffset="['15','15','15','15']"
                                data-voffset="['100','90','120','80']"
                                data-x="['right','right','right','right']"
                                data-y="['middle','middle','middle','middle']"
                                data-textalign="['top','top','top','top']"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                style="z-index: 7; white-space: nowrap;text-transform:left;">
                                    <a href="http://meps.projectperforming.com/accueil-dgps" class="theme-btn btn-style-one">Lire plus</a>&ensp; &nbsp;<!--<a href="" class="theme-btn btn-style-two">Contactez-nous</a>-->
                                </div>

                            </li>
                        </ul>

                    </div>
                </div>
            </section>

        </div>

        {% for p in photos %}
        <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="card-ministre">
                <img src="{{ p.image.url }}" alt="Photo du Ministre Adama KAMARA"/>
                <p>{{ p.nom }}</p>
                <div class="row card-ministre-links">
                    <div class="card-ministre-infos col-lg-12">
                        <div class="row">
                            <div class="col-md-6"><p><a class="card-ministre-link" href="http://meps.projectperforming.com/detail-biographie/detail-biographie/le-mot-du-ministre"><i class="fa fa-pencil-square-o card-ministre-icon"></i> Mot du Ministre</a></p></div>
                            <div class="col-md-6"><p><a class="card-ministre-link" href="http://meps.projectperforming.com/detail-biographie/maite-adama-kamara"><i class="fa fa-file-text card-ministre-icon"></i> Biographie</a></p></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><a class="card-ministre-link" href=""><i class="fa fa-microphone card-ministre-icon"></i> 
                                    Déclarations</a>
                                </p>
                            </div>
                            <div class="col-md-6"><p><a class="card-ministre-link" href="http://meps.projectperforming.com/contact/"><i class="fa fa-envelope card-ministre-icon"></i> Écrire au Ministre</a></p></div>
                        </div>
                        <div class="row">
                            {% for p in photos %}
                            <div class="col-md-12"><h3 class="card-ministre-link">{{ p.nom }}</h3></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!--Featured Section ONE-->
    <section class="featured-section">
        <div class="auto-container">
            <div class="services-outer" style="margin-top: -105px; z-index: 99">
                <div class="clearfix">
                    {% for ac in actuhome %}
                    <div class="welcome-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{{ ac.image.url }}" alt="" height="235px"/>
                                <div class="overlay-box">
                                    <!--<div class="post-published-date">15 Juin 2022</div>-->
                                    <div class="content">
                                        <div class="content-inner">                                        
                                            <div class="icon-box">
                                                <!--<span class="icon flaticon-analytics-1"></span>-->
                                                
                                            </div>
                                            <div class="text" style="margin-left: -80px;">Actualité</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lower-box">
                                <div class="text">

                                    <h3><a href="{% url 'blog_detail' ac.slug %}">{{ ac.titre }}</a></h3>
                                    {{ ac.resume }}
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--End Featured Section ONE-->

    <!--About Section-->
    <section class="about-section">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Column-->
                <div class="title-column col-md-4 col-sm-12 col-xs-12">
                    <h2>{{ ministere.titre }}</h2>
                    <div class="text">
                        <p>{{ ministere.resume }}</p>
                    </div>
                    <a href="http://127.0.0.1:10000/detail-ministere/a-propos-du-ministere" class="theme-btn btn-style-three">Lire plus</a>
                </div>
                <!--Content Column-->
                <div class="content-column col-md-8 col-sm-12 col-xs-12">
                    <div class="inner-box">
                        <div class="row clearfix">
                            <!--Image Column-->
                            <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                <div class="image">
                                    <img src="{{ ministere.image.url }}" alt="" />
                                    <div class="image-content">
                                        <div class="content">
                                            <div class="text">Maitre Adama Kamara <br> Ministre de l'Emploi et de la Protection Sociale</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Section Content-->
                            <div class="section-content col-md-6 col-sm-6 col-xs-12">
                                <div class="inner">
                                    <h2>Missions et Objectif</h2>
                                    <div class="text">
                                        <p>Comme principales missions, le MEPS en a trois dans son agenda qui sont <i><strong> le suivi de la politique du Gouvernement en matière d'Emploi,
                                            de Travail et de Protection Sociale en Côte d'ivoire.</i></strong>
                                        </p>
                                        <p>
                                            Ces trois missions sont confiées à trois grandes directions générales que sont la :
                                                la  et la
                                        </p>
                                    </div>
                                    <ul class="list-style-one">
                                        <li><a href="http://meps.projectperforming.com/accueil-dgt"> Direction Générale du travail [DGT]</a></li>
                                        <li><a href="http://meps.projectperforming.com/accueil-dge"> Direction Générale de l'Emploi [DGE]</a></li>
                                        <li><a href="http://meps.projectperforming.com/accueil-dgps"> Direction Générale de la Protection Sociale [DGPS].</a></li>
                                    </ul>
                                </div>
                                <div>&nbsp;&nbsp;</div>
                                <div class="text">
                                    <p><a href="http://meps.projectperforming.com/detail-mission/missions-et-objectifs" class="theme-btn btn-style-three">Lire plus</a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End About Section-->

    <!--Featured Section Two-->
    <section class="featured-section-two">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Featured Block Two-->
                <div class="featured-block-two col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon flaticon-business-2"></span>
                        </div>
                        <br>
                        <h3><a href="http://meps.projectperforming.com/detail-cabinet/le-cabinet">Le Cabinet</a></h3>
                        <!--<div class="text">We help financial institutions, from banking and insurance to wealth management and securities.</div>-->
                    </div>
                </div>

                <!--Featured Block Two-->
                <div class="featured-block-two col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon flaticon-factory"></span>
                        </div>
                        <br>
                        <h3><a href="http://meps.projectperforming.com/decret-organisation">Décret d'Organisation</a></h3>
                    </div>
                </div>

                <!--Featured Block Two-->
                <div class="featured-block-two col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon flaticon-air-transport"></span>
                        </div>
                        <br>
                        <h3><a href="http://meps.projectperforming.com/strures-sous-tutelles">Structures sous tutelles</a></h3>
                    </div>
                </div>

                <!--Featured Block Two-->
                <div class="featured-block-two col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon flaticon-gas-pump"></span>
                        </div>
                        <br>
                        <h3><a href="http://meps.projectperforming.com/accueil-direction">Directions rattachées au cabinet</a></h3>
                    </div>
                </div>

                <!--Featured Block Two-->
                <div class="featured-block-two col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon flaticon-cardiogram"></span>
                        </div>
                        <br>
                        <h3><a href="http://meps.projectperforming.com/documents/">Documents Publics</a></h3>
                    </div>
                </div>

                <!--Featured Block Two-->
                <div class="featured-block-two col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon flaticon-global-networking"></span>
                        </div>
                        <br>
                        <h3><a href="http://meps.projectperforming.com/ecoles-specialisees">Écoles Spécialisées</a></h3>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--Featured Section Two-->

    <!--Counter Section-->
    <section class="counter-section" style="background-image:url({% static 'home/images/background/2_.jpg' %});">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title">
                <h2 style="color: #fff;">Le MEPS en Chiffre</h2>
            </div>

            <div class="row clearfix">
                <!--Column-->
                <div class="column count-box col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="content">
                            <div class="icon-box"><span class="icon flaticon-business-3"></span></div>
                            <div class="count-outer">
                                <span>+ </span><span class="count-text" data-speed="2500" data-stop="3000">0</span>
                            </div>
                            <div class="counter-title">Agents</div>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column count-box col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="content">
                            <div class="icon-box"><span class="icon flaticon-prize-badge-with-star-and-ribbon"></span></div>
                            <div class="count-outer">
                                <span>0</span><span class="count-text" data-speed="2000" data-stop="3">0</span>
                            </div>
                            <div class="counter-title">Directions Générales</div>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column count-box col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="content">
                            <div class="icon-box"><span class="icon flaticon-graph-line-screen"></span></div>
                            <div class="count-outer">
                                <span>+</span><span class="count-text" data-speed="2500" data-stop="9">0</span>
                            </div>
                            <div class="counter-title">Directions Centrales</div>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column count-box col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="content">
                            <div class="icon-box"><span class="icon flaticon-smiling-emoticon-square-face"></span></div>
                            <div class="count-outer">
                                <span>+</span><span class="count-text" data-speed="3000" data-stop="10">0</span>
                            </div>
                            <div class="counter-title">Directions Régionales</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Counter Section-->
    
    <div class="row">
        <!--Sec Title 3/4 -->
        <div class="col-lg-12 col-md-12 sec-title clearfix" style="margin-top: -100px;">
            <section class="news-section">
                <div class="auto-container">
                    <div class="row row-spaced equal-cols">

                    </div>
                    <div class="row">
                        {% for z in zooms %}
                        <div class="news-block col-md-4 col-sm-6 col-xs-12" >
                            <div class="inner-box  news-style-1">
                                <div class="image"><img src="{{ z.image.url }}" alt="" height="200px"/>
                                </div>
                                <div class="lower-content">
                                    <div class="post-date">{{ z.created_at }}</div>
                                    <div class="text">{{ z.resume |truncatewords:22}}</div>
                                    <a href="{% url 'blog_detail' z.slug %}" class="theme-btn btn-style-four">Lire plus</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- <div class="col-lg-5 col-md-4 sec-title clearfix"> -->
            <!--Clients Section-->
            <!-- <section class="clients-section top-border">
                <div class="auto-container">
                    <div class="row row-spaced equal-cols">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <h2>Structures sous-tutelles</h2>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="row row-spaced">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <figure class="image-box"><a href="https://www.cnps.ci"><img src="{% static 'images/structure-sous-tutelles/logo_cnps.png' %} " alt="logo_cnps"></a></figure>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <figure class="image-box"><a href="https://www.airms-ci.com"><img src="{% static 'images/structure-sous-tutelles/logo_airms.png' %} " alt="logo_airms"></a></figure>
                            </div>
                        </div>
                        <div class="row row-spaced">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <figure class="image-box"><a href="https://macgrae.ci"><img src="{% static 'images/structure-sous-tutelles/logo_cgrae.png' %} " alt="logo_cgrae"></a></figure>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <figure class="image-box"><a href="#"><img src="{% static 'images/structure-sous-tutelles/logo_cnam.png' %} " alt="logo_cnam"></a></figure>
                            </div>
                        </div>
                        <div class="row row-spaced">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <figure class="image-box"><a href="https://plateforme-spci.com"><img src="{% static 'images/structure-sous-tutelles/logo_fps-ci.png' %} " alt="logo_fps-ci"></a></figure>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <figure class="image-box"><a href="https://www.mugef-ci.com"><img src="{% static 'images/structure-sous-tutelles/logo_mugefci.png' %} " alt="logo_mugefci"></a></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
        <!-- </div> -->
    </div>
    <section class="clients-section style-two">
    	<div class="auto-container">
        	<!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="https://www.cnps.ci"><img src="{% static 'home/images/structure-sous-tutelles/logo_cnps.png' %} " alt="logo_cnps"></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="https://www.airms-ci.com"><img src="{% static 'home/images/structure-sous-tutelles/logo_airms.png' %} " alt="logo_airms"></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="https://macgrae.ci"><img src="{% static 'home/images/structure-sous-tutelles/logo_cgrae.png' %} " alt="logo_cgrae"></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'home/images/structure-sous-tutelles/logo_cnam.png' %} " alt="logo_cnam"></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="https://plateforme-spci.com"><img src="{% static 'home/images/structure-sous-tutelles/logo_fps-ci.png' %} " alt="logo_fps-ci"></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="https://www.mugef-ci.com"><img src="{% static 'home/images/structure-sous-tutelles/logo_mugefci.png' %} " alt="logo_mugefci"></a></figure></li>
                <!-- <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li> -->
            </ul>
        </div>
    </section>

{% endblock %}