{% load static %}
<header class="main-header" style="background: #dfe0df;">
<div class="header-top" >
    <div class="auto-container" >
        <div class="row clearfix fullWidth">
            <!--Top Left-->
            <div class="col-lg-12">
                <div class="row">
                    <div class="top-left col-md-2 col-sm-12 col-xl-12" >
                        <ul class="top-links clearfix contacts-info">
                            <!-- <li><span class="icon theme_color flaticon-maps-and-flags"></span>Abidjan –Plateau,Tour A, cité administrative, Abidjan ,12e Etage.</li> -->
                            <li><span class="icon theme_color flaticon-telephone" ></span> +225 20 23 92 80/50</li>
                            <li ><span class="icon theme_color flaticon-e-mail-envelope" ></span> info@emploi.gouv.ci</li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xl-12" >
                        <div class="row clearfix flash-info">
                            <div  id="flashInfoTitle" class="col-md-2 col-sm-12 col-xl-12 ">
                                <span class="flash-info-title">À LA UNE</span>
                            </div>
                            <div class="col-md-10 col-sm-12 col-xl-12" >
                                <blink>
                                    <marquee class="flash-info-content" behavior="scroll" scrollamount="5" duration="20" direction="LEFT" loop="infinite">
                                        
                                            <span class="flash-info-item"><a style="color:#FFF;" href=""></a></span>
                                    </marquee>
                                </blink>
                            </div>
                        </div>
                    </div>
                    <div class="top-right col-md-2 col-sm-12 col-xl-12">

                    <ul class="social-links">
                        <li></li>
                        <li></li>
                        <li><a href='https://web.facebook.com/profile.php?id=100063663162120' target="_blank"><span class="fa fa-facebook-f"></span></a></li>
                        <li><a href='https://twitter.com/mepsci?lang=en' target="_blank"><span class="fa fa-twitter"></span></a></li>
                        
                    </ul>
                  
                    </div>
                </div>
            </div>
        </div>
            <!--Top Right-->
    </div>
</div>
<div class="header-upper" style="border-top: 2px solid #fff;">
    <div class="">
        <div class="row clearfix" >
            <!-- <div class="col-lg-1 col-md-1 col-sm-1"></div> -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="row clearfix item-parent">
                    <div class="logo logo-img-meps col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a href="{% url 'home'  %} ">
                            <img src="{% static 'home/images/logo/logo.png' %}" height="85px" alt="logo du MEPS" title=""  />
                        </a>
                    </div>

                    <!-- <div class="logo-text col-lg-1 col-md-1 col-sm-1"></div> -->
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 align-left" style="margin-left: 60px;" >
                            <a href="{% url 'home'  %} "><strong>
                            <span class="v-centered-b">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ministère de l'Emploi</span>
                            <span class="v-centered-b"><br><br> et de la Protection Sociale</span></strong>
                            </a>
                    </div>

                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6"></div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="row clearfix item-parent">

                    <div class=" logo logo-img-embleme col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
                        <img src="{% static 'home/images/logo/armoirie.png' %}" alt="embleme de la cote d'Ivoire">
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 align-right">
                        <small class="v-centered-b"><strong>RÉPUBLIQUE DE CÔTE D'IVOIRE</strong></small>
                        <small class="v-centered-b"><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Union - Discipline - Travail</small>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2"></div>

                    
                </div>
            <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div> -->
        </div>

        <div class="row clearfix">
          
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 menu-links-bloc" style="border-top: 2px solid #fff;">
                <!-- <div class="upper-right"> -->

                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    
                        <div class="navbar-collapse collapse">
                            <ul class="navigation clearfix">
                                <li class=""><a href="{% url 'home' %}">ACCUEIL</a></li>
                                <li class="dropdown"><a href="#">MEPS</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="http://meps.projectperforming.com/detail-ministere/a-propos-du-ministere-de-lEmploi-et-de-la-protection-sociale">Le Ministère</a></li>
                                        <li class=""><a href="http://meps.projectperforming.com/detail-cabinet/le-cabinet">Le Cabinet</a>
                                           
                                        </li>
                                        <li class=""><a href="">Organigramme</a>
                                           
                                        </li>

                                        <li><a href="">Directions & services rattachés</a></li>
                                        <li><a href="">Structures Sous Tutelles</a></li>
                                        <li><a href="">Écoles Spécialisées</a></li>
                                        <li><a href="">Décret d'Organisation</a></li>
                                        <li><a href="">Missions & Objectifs</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="">DIRECTIONS GÉNÉRALES</a>
                                    <ul class="dropdown-menu">
                                        <li class=""><a href="">De l'Emploi[DGE]</a>
                                           
                                        </li>
                                        <li class=""><a href="">Du Travail[DGT]</a>
                                            
                                        </li>
                                        <li class=""><a href="">De la Protection Sociale[DGPS]</a>
                                            
                                        </li>
                                    </ul>
                                </li>
                                <li class=""><a href="">DOCUMENTS</a>
                                   
                                </li>
                                <li class="dropdown"><a href="">NOS PRODUITS</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="http://meps.projectperforming.com/detail-produit/couverture-maladie-universelle">CMU</a></li>
                                        <li><a href="http://meps.projectperforming.com/detail-produit/la-complementaire">La complémentaire</a></li>
                                        <li><a href="http://meps.projectperforming.com/rsti">RSTI</a></li>
                                    </ul>
                                </li>
                                
                                <li class="dropdown"><a href="">PUBLICATIONS</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">Actualités</a></li>
                                        <li><a href="">Zooms</a></li>
                                        <li><a href="">Communiqués</a></li>
                                    </ul>
                                </li>
                    
                                <li class="dropdown"><a href='#'>NOUS JOINDRE</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">Contacts</a></li>
                                        <li><a href="">Faq</a></li>
                                       
                                    </ul>
                                </li>
                    
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->

                    <!--More Options-->
                    <div class="more-options">

                        <!--Search Box
                        <div class="dropdown dropdown-outer">
                            <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                            <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                <li class="panel-outer">
                                    <div class="form-container">
                                        <form method="post" action="blog-single' %} ">
                                            <div class="form-group">
                                                <input type="search" name="field-name" value="" placeholder="Je recherche..." required="">
                                                <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        -->

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="sticky-header">
    <div class="auto-container clearfix">
        <!--Logo-->
        <div class="logo pull-left">
            <a href="{% url 'home' %}" class="img-responsive" title="meps">
                <img src="{% static 'home/images/logo/Logo-MEPS-180x50-stickyMenu.png' %}" alt="Logo du MEPS" title="meps">
            </a>
        </div>

        <!--Right Col-->
        <div class="">
            <nav class="main-menu">
                <div class="navbar-header">
                    <!-- Toggle Button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            
                <div class="navbar-collapse collapse">
                    <ul class="navigation clearfix">
                        <li class=""><a href="{% url 'home' %}">ACCUEIL</a></li>
                        <li class="dropdown"><a href="#">MEPS</a>
                            <ul class="dropdown-menu">
                                <li><a href="http://meps.projectperforming.com/detail-ministere/a-propos-du-ministere-de-lEmploi-et-de-la-protection-sociale">Le Ministère</a></li>
                                <li class=""><a href="http://meps.projectperforming.com/detail-cabinet/le-cabinet">Le Cabinet</a>
                                   
                                </li>
                                <li class=""><a href="">Organigramme</a>
                                   
                                </li>

                                <li><a href="">Directions & services rattachés</a></li>
                                <li><a href="">Structures Sous Tutelles</a></li>
                                <li><a href="">Écoles Spécialisées</a></li>
                                <li><a href="">Décret d'Organisation</a></li>
                                <li><a href="">Missions & Objectifs</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="">DIRECTIONS GÉNÉRALES</a>
                            <ul class="dropdown-menu">
                                <li class=""><a href="">De l'Emploi[DGE]</a>
                                   
                                </li>
                                <li class=""><a href="">Du Travail[DGT]</a>
                                    
                                </li>
                                <li class=""><a href="">De la Protection Sociale[DGPS]</a>
                                    
                                </li>
                            </ul>
                        </li>
                        <li class=""><a href="">DOCUMENTS</a>
                           
                        </li>
                         <li class="dropdown"><a href="">NOS PRODUITS</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">CMU</a></li>
                                        <li><a href="">La complémentaire</a></li>
                                        <li><a href="">RSTI</a></li>
                                    </ul>
                                </li>
                        <li class="dropdown"><a href="">PUBLICATIONS</a>
                            <ul class="dropdown-menu">
                                <li><a href="">Actualités</a></li>
                                <li><a href="">Zooms</a></li>
                                <li><a href="">Communiqués</a></li>
                            </ul>
                        </li>
            
                        <li class="dropdown"><a href='#'>NOUS JOINDRE</a>
                            <ul class="dropdown-menu">
                                <li><a href="">Contacts</a></li>
                                <li><a href="">Faq</a></li>
                               
                            </ul>
                        </li>
            
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

</header>