{% load static %}
<div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
    <aside class="sidebar">
        <div class="sidebar-widget sidebar-blog-category">
            <div class="sidebar-title">
            </div>
            <ul class="blog-cat">
                <li><a href="http://meps.projectperforming.com/detail-ministere/a-propos-du-ministere-de-lEmploi-et-de-la-protection-sociale">Le ministère</a></li>
                <li><a href="http://meps.projectperforming.com/detail-cabinet/le-cabinet">Le cabinet</a></li>
                <li><a href="http://meps.projectperforming.com/directeurs">Liste des Directeurs et Sous-Directeurs</a></li>
                <li><a href="http://meps.projectperforming.com/detail-mission/missions-et-objectifs">Missions & objectifs</a></li>
                <li><a href="http://meps.projectperforming.com/organigramme-meps">Organigramme</a></li>
                <li><a href="http://meps.projectperforming.com/get-faq">Faq</a></li>
                <li><a href="http://meps.projectperforming.com/contact/">Contact</a></li>
            </ul>
        </div>
    </aside>
</div>